<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Teams Page
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
  <ion-list>
    <ion-item button *ngFor="let team of nba.data;">
      <ion-col>
        <ion-row>
          <ion-title color="primary">{{team.full_name}}</ion-title>
        </ion-row>
      </ion-col>
      <ion-col>
      <ion-row>
      <ion-label>Team#:</ion-label>
      <ion-label>{{team.id}}</ion-label>
    </ion-row>
    <ion-row>
      <ion-label>City:</ion-label>
      <ion-label>{{team.city}}</ion-label>
    </ion-row>
  </ion-col>
    <ion-col>
      <ion-row>
        <ion-label>Abbreviation:</ion-label>
        <ion-label>{{team.abbreviation}}</ion-label>
      </ion-row>
      <ion-row>
        <ion-label>Division:</ion-label>
        <ion-label>{{team.division}}</ion-label>
      </ion-row>
    </ion-col>
    </ion-item>
  </ion-list>
</ion-grid>
</ion-content>
