<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      NBA APP
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <ion-img src="https://a.espncdn.com/photo/2021/0604/nba_semi-final-v2_16x9.jpg"></ion-img>
 <ion-button expand="full" color="primary" [routerLink]="['/eastern']" routerLinkActive="router-link-active" >TEAMS LIST</ion-button>
 <ion-button expand="full" color="secondary" [routerLink]="['/players']">PLAYERS LIST</ion-button>
 <ion-button expand="full" color="danger"  [routerLink]="['/saved']">SAVED PLAYERS</ion-button>
</ion-content>
